NODE_ENV=production
PORT=3000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=pixelwor_maps_db
DB_USER=pixelwor_maps_db
DB_PASSWORD=Sipotao09

SESSION_SECRET=genereras_i_terminalen
SESSION_MAX_AGE_MS=86400000

UPLOADS_DIR=/home/pixelwor/geoexp/uploads
MEDIA_BASE_URL=https://api.pixelworks.se/media

APP_API_TOKEN_SECRET=genereras_i_terminalen

MAX_IMAGE_SIZE_MB=20
MAX_VIDEO_SIZE_MB=500

ADMIN_BASE_URL=https://api.pixelworks.se/admin